*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#111;
    color:white;
}

/* Navigation */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:black;
}

.logo{
    color:gold;
    font-size:28px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

nav ul li a:hover{
    color:gold;
}

/* Hero Section */
.hero{
    height:100vh;
    background:url("images/background.jpg") center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    background:gold;
    color:black;
    padding:15px 30px;
    text-decoration:none;
    border-radius:5px;
}

/* Sections */
section{
    padding:100px 10%;
}

h2{
    color:gold;
    margin-bottom:30px;
}

/* Portfolio */
.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:#1b1b1b;
    border-radius:10px;
    overflow:hidden;
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.card h3{
    padding:20px;
}

/* Services */
.service-box{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.service{
    flex:1;
    background:#1b1b1b;
    padding:30px;
    border-radius:10px;
}

/* Contact */
button{
    margin-top:20px;
    padding:15px 30px;
    background:gold;
    border:none;
    cursor:pointer;
}

footer{
    background:black;
    text-align:center;
    padding:20px;
}
.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    height:400px;
    object-fit:cover;
    border-radius:10px;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.03);
}

.card{
    text-decoration:none;
    color:white;
}

